<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>959837853557-4c033dqordbfaqjedb6j6nvvvflsbr6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959837853557-4c033dqordbfaqjedb6j6nvvvflsbr6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAfPjruKJmB8xi6C8Rd-aNS8ZcY9XZ1B00</string>
	<key>GCM_SENDER_ID</key>
	<string>959837853557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adameliezerov.Polocal</string>
	<key>PROJECT_ID</key>
	<string>memer-154e3</string>
	<key>STORAGE_BUCKET</key>
	<string>memer-154e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959837853557:ios:6464abecdbc33962</string>
	<key>DATABASE_URL</key>
	<string>https://memer-154e3.firebaseio.com</string>
</dict>
</plist>